/* Telas pequenas */
@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
        overflow-x: hidden;
    }

    header ul {
        flex-direction: column; /* Corrigido seletor do menu */
        text-align: center;
    }

    #me {
        text-align: center;
    }

    #me h1, #me h2 { /* Corrigido seletor dos cabeçalhos */
        text-align: center;
    }

    /* Adicionado padding aos itens de seção */
    #sobre,
    #projetos,
    #redes,
    #contato {
        padding: 10px;
    }
}

/* Telas de tamanho médio */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        overflow-x: hidden;
    }

    header {
        text-align: center;
    }

    #me {
        display: flex;
        width: 100%;
        justify-content: space-around;
        text-align: center;
    }

    #sobre {
        width: 100%;
        flex-direction: column;
    }
}
