header {
    margin: 20px;
    border-bottom: 3px solid #3d3d3d;
}

.header-top {
    border-radius: 5%;
}

a:hover{
    margin: 10px;
    padding: 10px;
    background-color: #00ff008e;
    border-radius: 20px;
}

h2 {
    font-size: 18px;
    font-style: italic;
    margin: 0;
}

.menu {
    align-items: end;
}

section {
    padding: 10px;
}

.projeto {
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-gap: 20px
}

input[type="text"], input[type="email"] {
    width: 400px;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* ID's */
#me {
    display: flex;
}

#me h2 {
    text-align: center;
    margin-top: 10px;
}

#sobre {
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
    margin: 0 auto;
}

#sobre p {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

/* EXPANSAO DIV'S */
.expansion-conteiner {
    border: 1px solid #ddd;
    margin: 10px;
}

.expansion-header {
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    cursor: pointer;
}

.expansion-content {
    display: none;
    padding: 10px;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.expansion-headerSobre {
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    cursor: pointer;
}

.expansion-contentSobre {
    display: none;
    padding: 10px;
}

.conteinerSobre {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* TITULOS */
