/* Adiciona uma margem interna ao cabeçalho */
header {
    margin: 20px;
    padding: 10px 0;
    border-bottom: 3px solid #3d3d3d;
}

/* Adiciona borda arredondada à parte superior do cabeçalho */
.header-top {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

/* Estiliza links quando passa o mouse por cima */
a:hover,
.menu li:hover a {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 255, 0, 0.56);
    border-radius: 20px;
}

/* Ajusta alinhamento dos itens do menu */
.menu {
    align-items: center; /* Substituído de "end" para "center" */
}

/* Define estilo de seções */
section {
    padding: 20px; /* Aumenta o preenchimento interno */
}

/* Ajusta margem inferior de projetos */
.projeto {
    margin-bottom: 30px; /* Aumenta a margem inferior */
}

/* Estilo do formulário */
form {
    display: grid;
    grid-gap: 20px;
}

/* Ajusta largura e estilo dos campos de entrada */
input[type="text"],
input[type="email"] {
    width: 100%; /* Alterado para ocupar toda a largura disponível */
    padding: 10px; /* Aumenta o preenchimento interno */
    box-sizing: border-box;
}

/* Estilo do botão */
button {
    background-color: #333;
    color: #fff;
    padding: 12px 20px; /* Aumenta o preenchimento interno */
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Adiciona borda arredondada */
}

/* Expansão de conteúdo */
.expansion-conteiner,
.expansion-header,
.expansion-headerSobre {
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    cursor: pointer;
}

.expansion-content,
.expansion-contentSobre {
    display: none;
    padding: 10px;
}

/* Centraliza conteúdo */
.conteiner,
.conteinerSobre {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Títulos */
h2 {
    font-size: 24px; /* Aumenta o tamanho da fonte */
    font-style: italic;
    margin: 0;
    margin-bottom: 20px; /* Aumenta a margem inferior */
    text-align: center; /* Centraliza o texto */
}

/* Sobre */
#sobre {
    max-width: 600px; /* Alterado para largura máxima */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
    margin: 20px auto; /* Alterado para centralizar verticalmente e adicionar margem superior */
}

#sobre p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px; /* Aumenta a margem inferior */
}
